body {
    background-color: #FFFFFF;
}
.blog {
    
    width: 900px;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.container {
    margin: auto;
    width: 900px;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.form {
    margin: auto;
}

.form textarea {
    height: 100px;
}

.aling-rigth{
    float: right;
}

section {
    width: 900px;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.label-default {
    background-color: #C2C2D6;
    color: #29293D;
}

.post-article {
    margin: auto;
    width: 880px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border: 1px solid #F5F5F5;
    border-radius: 3px;
}

.post-body {
    overflow: auto;
    font-family: 'Droid Serif', Georgia, serif;
    font-size: 18px;
}

.post-body img {
    margin: auto;
}

.post-title {
    font-weight: bold;
    font-family: 'Droid Serif', Georgia, serif;
    color: #556270;
}

.nav li a {
    font-size: 14px;
    font-weight: bolder;
}

.no-link a:link, .no-link a:active, .no-link a:visited, .no-link a:hover{
    text-decoration: none;
}

.table-post-edit {
    width: 870px;
}

.link {
    cursor: pointer;
}

.blog-adm-login {

    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 11px;
    margin-bottom: 50px;
}

.blog-adm-login label {
    min-width: 80px;
}

.blog-adm-post {
    margin: auto;
    width: 800px;
}

.title {
    text-align: center;
    font-family: 'Droid Serif', Georgia, serif;
    color: #556270;
    font-size: 20px;
    font-weight: bold;
}

.social {
    padding-top: 12px;
    border: 1px solid #556270;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
    background-color: #F0F0F5;
    float: right;
}

.provider {
    padding-top: 12px;
}

.provider a img {
    width: 40px;
    margin-top: 0px;
    margin-left: 12px;
    margin-right: 12px;
}